@model Garage_2._0.Models.StatsViewModel

@{
    ViewData["Title"] = "GetStatistics";
}



<h1>Garage Statistics</h1>

<hr />
<h3>Wheels Statistics</h3>
<a asp-action="CountOfWheels">Wheels Statistics</a>
<hr />

<hr />
<h3>Revnue Statistics</h3>
<a asp-action="TotalMinPrice">Revenue Statistics</a>
<hr />

<hr />
<h3>Vehicle Types Statistics</h3>
<a asp-action="GetGroupType">Vehicle Types Statistics</a>
<hr />

@*<form asp-action="CountOfWheels">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"> Count Of Wheels</button>
        </div>
    </form>*@



@*<partial name="_CountOfWheelsPartial" />
    <hr/>
    <partial name="_TotalMinPricepARTIAL" />*@

